body {
  height: 100%;
  margin: 0;
  background: black;
}

h1 {
   color: rgba(100,255,0,0.5);
 }

 .obj{
     background:#cf5;
     position:absolute;
     border-radius: 50%;
     width:4px; height:4px; margin:-2px;
     box-shadow:0 0 10px 5px rgba(100,255,0,0.5);
     opacity:0.2;
 }
 .objEnemy{
     background:#cf5;
     position:absolute;
     border-radius: 50%;
     width:4px; height:4px; margin:-2px;
     box-shadow:0 0 10px 5px rgba(255, 0, 0, 1);
     opacity:0.2;
 }
