/* Landing Page */

ltitle {
    font-size: 50px;
    font-family: 'Orkney';
    font-weight: bold;
    color: white;
}

lsubtitle {
    font-size: 30px;
    font-family: 'Orkney';
    font-weight: bold;
    color: black;
}

@font-face {
    font-family: "Orkney";
    src: url("fonts/orkney-regular.otf");
}

@font-face {
    font-family: "Orkney";
    src: url("fonts/orkney-bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Orkney Light";
    src: url("fonts/orkney-light.otf");
}

body {
  margin: 0px;
  width: 100vw;
   height: 100vh;
}

#root {
  height: 100%;
}


.mapss {
  height: 100%;
}

/* E-mail verification page (EmailVerif) */

.VerificationCode{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5vw;
}

.VerificationCodeDigit {
    width: 13vw;
    height: 13vw;
    background-image: linear-gradient(to top right, transparent, #cc1f10);
    color: #4d0c04;
    outline: none;
    border: none;
    border-left: 0.4vw solid #4d0c0c;
    border-bottom: 0.8vw solid #4d0c0c;
    border-radius: 1vw 2vw 2vw 3vw;

    font-size: 10.5vw;
    text-align: center;
    font-weight: 300;
    padding-bottom: 10px;
    display: block;
    margin: 1.53333vw;
}

.VerificationCodeDigit__Input {
    width: 100%;
    background-color: transparent;
    color: #4d0c04;

    font-size: 100%;
    text-align: center;
    font-weight: 300;
    padding-bottom: 10px;
    display: block;
    /*margin: none;*/
    border: none;
}


/* Rest of app */

.App {
  height: 100%;
  display: block;
  color: #910F0F;
  background-color: #910F0F;
}

.Title {
    width: 100%;
    background-color:#cc1f10;
    padding: 5px 10px;
    overflow: auto;
    height: 100%;
}

.titelGOF{
  font-size: 60pt;
  color: #750c04;
  font-family: Impact, Charcoal, sans-serif;
}

.denWolf {
  height: 30vh;
}


.background {
    width: 100%;
    background-color: #910F0F;
    padding: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    height: 100vh;
}

h1 {
  color: #421f1c;
  font-size:10vw;
  font-family: 'Orkney';
    font-weight: bold;
}

h2 {
    color: #fff9f8;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
}

h3 {
    color: #421f1c;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

p {
    color: black;
    font-family: 'Orkney';
}

.App__Form {
  width: 100%;
  background-color: #cc1f10;
  padding: 25px 40px;
  overflow: auto;
  height: 100%;
}

.PageSwitcher {
  display: block;
  justify-content: flex-start;
  margin-bottom: 4%;
  text-align: center;
}

.PageSwitcher__Item {
  background-color: #750c04;
  color: #f2e4e3;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  opacity: 0.8;
}

.PageSwitcher__Item--Active {
  background-color: #fc3c2d;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #421f1c;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #421f1c;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #fc3c2d;
}

.FormField {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
    font-family: 'Karla', sans-serif;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  color: #4d0c04;
  outline: none;
    border: none;
    border-bottom: 1px solid #fc3c2d;

  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  display: block;
  margin: auto;
}

.FormField__Input::placeholder {
  color: #421f1c;
}

.FormField__Button {
  background-color: #fc3c2d;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #421f1c;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #fc3c2d;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color:#421f1c;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #fc3c2d;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.button {
    height:190px;
    width: 190px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: none;
    display: inline-block;
}

.imageButton {
    width: 190px;
    height:190px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 100%;
    border: none;
    background-size: contain;
    object-fit: cover;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#centerButton {
  text-align: center;
}

#text {
  display: block;
  text-align: center;
}

.polaroid {
    padding: 20px 20px 50px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    max-height: 690px;
    max-width: 830px;
}


.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #cc1f10;
    color: white;
}

.modal-body {padding: 2px 16px;}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.loader {
  height: 200px;
  width: 200px;

}
/* UI Buttons */
.smallButton {
    background-color: white;
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 40px;
    height:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.smallButton:hover {
    background-color: #eee8e8;
}

.smallButton:active {
    background-color: #dfd7d7;
}

.back {
    background-image: url(assets/buttons/back.png);
}

.settings {
    background-image: url(assets/buttons/settings.png);
}

.camera {
    background-image: url(assets/buttons/camera.png);
}

/* UI Buttons */
.bigButton {
    background-color: white;
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    outline: none;
    border-radius: 60px;
    width: 140px;
    height:140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.bigButton:hover {
    background-color: #eee8e8;
}

.bigButton:active {
    background-color: #dfd7d7;
}

