<html>

<head>
	<title> Face comparisson </title>
	<script src="face-api.js"></script>
	<script src="commons.js"></script>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
<div id="navbar"></div>
<button onclick="updateResults()" > DETECT </button>
<p><input type="file"  accept="image/*" name="image" id="file1" onchange="loadFile(event)" style="display: none;"></p>
<p><label for="file1" style="cursor: pointer;">Upload Image</label></p>
<p>
	<div style="position: relative" class="margin">
	<img id="inputImg1" width="200" />
  <canvas id="overlay" />
	</div>
</p>
<p></p>
<p><input type="file"  accept="image/*" name="image" id="file2" onchange="loadFile2(event)" style="display: none;"></p>
<p><label for="file2" style="cursor: pointer;">Upload Image</label></p>
<p>
	<img id="InputImg2" width="200" />
</p>
<p></p>
<p>Feature Vector 1:</p>
<p>Feature Vector 2:</p>
<p></p>
<p>Accuracy:</p>
</body>
<script>

	let minConfidence = 0.1
	let result

	var loadFile = function(event) {
	    var tgt = event.target || window.event.srcElement,
	        files = tgt.files;

	    // FileReader support
	    if (FileReader && files && files.length) {
	        var fr = new FileReader();
	        fr.onload = function () {
	            document.getElementById("inputImg1").src = fr.result;
	        }
	        fr.readAsDataURL(files[0]);
	    }

	    // Not supported
	    else {
	        // fallback -- perhaps submit the input to an iframe and temporarily store
	        // them on the server until the user's session ends.
	    }
	}

	var loadFile2 = function(event) {
		var image = document.getElementById('inputImg1');
		image.src = URL.createObjectURL(event.target.files[0]);
	};

	async function loadImageFromUrl(url) {
		const img = await requestExternalImage($('#imgUrlInput').val())
		$('#inputImg1').get(0).src = img.sr
		updateResults()
	}

	async function updateResults() {
		const inputImgEl = $('#inputImg1').get(0)
		const { width, height } = inputImgEl
		const canvas = $('#overlay').get(0)
		canvas.width = width
		canvas.height = height

		result = await faceapi.locateFaces(inputImgEl, minConfidence)
		faceapi.drawDetection('overlay', result.map(det => det.forSize(width, height)))
	}

	async function run() {
		await faceapi.loadFaceDetectionModel('/')
		$('#loader').hide()
	}

	$(document).ready(function() {
		run()
	})

</script>
</html>
